* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #1f2933;
    background-color: #ffffff;



}

.about {
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    gap: 60px;
}

.box {
    display: flex;
    gap: 10px;
}

.line {
    width: 72px;
    height: 2px;
    background-color: #1f2933;
    margin-top: 8px;
}

.subtitle {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #1D2130;
}

.about-text h1 {
    font-size: 42px;
    margin: 20px 0;
}

.about-text p {
    font-size: 16px;
    color: #6b7280;
}

.about-image img {
    width: 420px;
    max-width: 100%;
    border-radius: 12px;
}

.services {
    background-color: #f2f8f3;
    padding: 80px 100px;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color: #1f2933;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 50px;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.icon-box {
    width: 40px;
    height: 40px;
    background-color: #9dd9a6;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box img {
    width: 20px;
    height: 20px;
}

.service h3 {
    font-size: 18px;
    font-weight: 600;
}

.service p {
    font-size: 14px;
    color: #6b7280;
    max-width: 280px;
}